/*   Create sass file.   */
@mixin Radius( $R: 3px ) {
  -webkit-border-radius: $R;
  -moz-border-radius: $R;
  -ms-border-radius: $R;
  -o-border-radius: $R;
  border-radius: $R;
}
@mixin Transition( $T: all 0.5s ease-in-out ) {
  -webkit-transition: $T;
  -moz-transition: $T;
  -o-transition: $T;
  transition: $T;
}
@mixin BoxShadow( $BS... ) {
  -webkit-box-shadow: $BS;
  -moz-box-shadow: $BS;
  -ms-box-shadow: $BS;
  -o-box-shadow: $BS;
  box-shadow: $BS;
}
@mixin RGeometry( $W: 300px, $H: 300px, $BK: #eceff1 ) {
  @include Radius( ($W + 40) / 2 );
  width: $W;
  height: $H;
  line-height: $H;
  position: absolute;  /* подробнее про position: absolute; */
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  overflow: hidden;
  border: 20px solid $BK;
}

.vis-depth-1 { @include BoxShadow( 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) ); }
.vis-depth-2 { @include BoxShadow( 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ); }
.vis-depth-3 { @include BoxShadow( 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) ); }
.vis-depth-4 { @include BoxShadow( 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ); }
.vis-depth-5 { @include BoxShadow( 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) ); }
//----------------------------------------------------------------------------------------------------------------------
html, body, .main {
  background: #37474f;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}

.main {
  line-height: 100%;
  text-align: center;
  position: relative;
}

#header {
  background: #263238 !important;
}
#data-ring {
  @include RGeometry( 280px, 280px );
  background: #FFF;
  color: #333;
}

#data-ring-data {
  display: inline-block !important;
  vertical-align: middle;
  line-height: 20pt !important;
  b {
    text-transform: uppercase;
  }
}

.big, .mid, .small {
  display: inline-block;
  font-size: 18pt !important;
  width: 120px !important;
}
.mid {
  font-size: 14pt !important;
  width: 90px !important;
}
.small {
  font-size: 12pt !important;
  width: 60px !important;
}

#tolerance-ring {
  @include RGeometry( 340px, 340px, #eeff41 );
  background: #c6ff00;
}

.mdl-slider__container {
  margin-right: -16px !important;
  margin-left: -20px !important;
}

.icon, .mdl-navigation__link, #data-ring {
  cursor: pointer !important;
}